DynamicAnalyzer/tools/tshark/wimaxasncp/dictionary.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- $Id$ -->

<!ELEMENT dictionary (tlv+)>

<!ELEMENT tlv (enum*)>
<!ATTLIST tlv
    name    CDATA #REQUIRED
    type    CDATA #REQUIRED
    decoder CDATA #IMPLIED
    since CDATA #IMPLIED
>

<!ELEMENT enum EMPTY>
<!ATTLIST enum
    name CDATA #REQUIRED
    code CDATA #REQUIRED
>
